.sidebar-link {
  font-size: 13px;
}
.sidebar-heading .title {
  color: #213547;
  font-size: 13px;
  font-weight: 600;
}
.sidebar a {
  color: rgba(60, 60, 60, 0.7);
}
html[data-theme='dark'] {
  .sidebar-heading .title {
    color: rgba(255, 255, 255, 0.87);
  }

  .sidebar a {
    color: rgba(235, 235, 235, 0.6);
  }
}
