.sidebar-link {
  font-size: 13px;
}
.sidebar-heading .title {
  color: #213547;
  font-size: 13px;
  font-weight: 600;
}
.sidebar a {
  color: rgba(60, 60, 60, 0.7);
}
html[data-theme='dark'] {
  .sidebar-heading .title {
    color: rgba(255, 255, 255, 0.87);
  }

  .sidebar a {
    color: rgba(235, 235, 235, 0.6);
  }
}

// vuepress-plugin-search-pro 搜索插件
// 固定高度，否则搜索结果高度改变会跳动
.search-pro-modal-wrapper{
  top: 5vh;
  align-items: normal;
}
